.str{color:deepPink;}
.kwd{color:#069;font-weight:bold;}
.com{color:#008200;font-style:italic;}
.typ{color:gray}
.lit{color:#000;}
.pun{color:#000;}
.pln{color:#000;}
.tag{color:#FF8000;}
.atn{color:#00FF00;}
.atv{color:#00FF00;}
.dec{color:#00FF00;}

pre.prettyprint {
margin-top: 20px;
margin-bottom: 10px;
margin-left: 2px;
margin-right: 2px;
background-color:#FFFFFF; /*f7f7f9*/
font-size:15px;
line-height:1.1;
white-space: pre;
white-space: pre-wrap;
word-wrap: break-word;
word-break: break-all;
overflow:auto;
overflow-Y:hidden
padding: 2px 3px
border: 1px solid #FFFFFF;
color: #333333;
display: block;
}
pre:hover{
  	background-color: #f7f7f9;
}
@media print {
    .str{color:#060;}
    .kwd{color:#006;font-weight:bold;}
    .com{color:#600;font-style:italic;}
    .typ{color:#404;font-weight:bold;}
    .lit{color:#044;}
    .pun{color:#440;}
    .pln{color:#000;}
    .tag{color:#006;font-weight:bold;}
    .atn{color:#404;}
    .atv{color:#060;}
}

pre code {
font-family:Mono,Monaco,Menlo,"Courier New",monospace;
background-color:transparent;
border: none;
}
code {
color:#d14;
background-color:#FFFFFF;
border:1px solid #e1e1e8;
}
